#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.lightgreen {
  background-color: lightgreen;;
}

.orange {
  background-color: rgb(220, 156, 38);
}

.blue {
  background-color: rgb(96, 96, 201);
}

.yellow {
  background-color: rgb(231, 231, 77);
}

.pink {
  background-color: pink;
}

.type {
  font-size: 2rem;
  text-shadow: 0px 0px 5px black;
}

.card {
  height: 100%;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  color: white;
  font-size: 3rem;
  text-align: center;
  text-shadow: 0px 0px 5px black;
}
.card-img {
  width: 50%;
  height: auto;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: inherit;
  box-shadow: inherit;
}