#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  $font-family: "Courier New",
  Courier;
}

.lightgreen {
  background: #55DD33;
  border: 1rem solid #138808;

  section {
    p {
      display: flex;
      margin: 0 0 0.9rem 0;
      padding: 0.5rem;
      font-family: 'Crimson Text', serif;
      font-size: 1.4rem;
      text-align: left;
      text-shadow: black 0 0 0.5rem;
      border-radius: 1rem;
      background-color: #138808;
      box-shadow: black 0 0 0.5rem;
      border: solid #55DD33 0.1rem;
    }
  }
}

.lightgreen-button {
  background-color: #138808;
  box-shadow: black 0 0 0.5rem;
  border: solid #55DD33 0.1rem;
  color: white;
  text-shadow: black 0 0 0.5rem;
}

.orange {
  background: #f0a40c;
  border: 1rem solid #E25822;

  section {
    p {
      display: flex;
      margin: 0 0 0.9rem 0;
      padding: 0.5rem;
      font-family: 'Crimson Text', serif;
      font-size: 1.4rem;
      text-align: left;
      text-shadow: black 0 0 0.5rem;
      border-radius: 1rem;
      background-color: #E25822;
      box-shadow: black 0 0 0.5rem;
      border: solid #f0a40c 0.1rem;
    }
  }
}

.orange-button {
  background-color: #E25822;
  box-shadow: black 0 0 0.5rem;
  border: solid #f0a40c 0.1rem;
  color: white;
  text-shadow: black 0 0 0.5rem;
}

.blue {
  background: #0CAFFF;
  border: 1rem solid #0047AB;

  section {
    p {
      display: flex;
      margin: 0 0 0.9rem 0;
      padding: 0.5rem;
      font-family: 'Crimson Text', serif;
      font-size: 1.4rem;
      text-align: left;
      text-shadow: black 0 0 0.5rem;
      border-radius: 1rem;
      background-color: #0047AB;
      box-shadow: black 0 0 0.5rem;
      border: solid #0CAFFF 0.1rem;
    }
  }
}

.blue-button {
  background-color: #0047AB;
  box-shadow: black 0 0 0.5rem;
  border: solid #0CAFFF 0.1rem;
  color: white;
  text-shadow: black 0 0 0.5rem;
}

.yellow {
  background: #f6f350;
  border: 1rem solid #FEBE10;

  section {
    p {
      display: flex;
      margin: 0 0 0.9rem 0;
      padding: 0.5rem;
      font-family: 'Crimson Text', serif;
      font-size: 1.4rem;
      text-align: left;
      text-shadow: black 0 0 0.5rem;
      border-radius: 1rem;
      background-color: #FEBE10;
      box-shadow: black 0 0 0.5rem;
      border: solid #f6f350 0.1rem;
    }
  }
}

.yellow-button {
  background-color: #FEBE10;
  box-shadow: black 0 0 0.5rem;
  border: solid #f6f350 0.1rem;
  color: white;
  text-shadow: black 0 0 0.5rem;
}

.pink {
  background: #de0cf0;
  border: 1rem solid #800080;

  section {
    p {
      display: flex;
      margin: 0 0 0.9rem 0;
      padding: 0.5rem;
      font-family: 'Crimson Text', serif;
      font-size: 1.4rem;
      text-align: left;
      text-shadow: black 0 0 0.5rem;
      border-radius: 1rem;
      background-color: #800080;
      box-shadow: black 0 0 0.5rem;
      border: solid #de0cf0 0.1rem;
    }
  }
}

.pink-button {
  background-color: #800080;
  box-shadow: black 0 0 0.5rem;
  border: solid #de0cf0 0.1rem;
  color: white;
  text-shadow: black 0 0 0.5rem;
}

.type {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  text-shadow: 0px 0px 5px black;
}

.card {
  width: 20rem;
  height: 30rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px black;
  color: white;
  font-size: 2rem;
  text-align: center;

  figcaption {
    text-shadow: black 0 0 0.5rem;
  }

  .container-button {
    display: flex;
    justify-content: space-around;

    button {
      display: flex;
      flex-direction: row;
      padding: 0.5rem;
      width: 5rem;
      height: 2.5rem;
      font-size: 1rem;
      justify-content: center;
      align-items: center;
    }
  }
}

.card-img {
  width: 60%;
  height: auto;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: inherit;
}

